:root {
    --grey: #454A49;
    --square: #aab0af;
    --black: #1f1f1f;
    --btn-green: #32E875;
    --light-text: #ffffff;
    --light-bg: #f5f5f5;
    --warning: #DB162F;
  }

/*GLOBAL STYLES*/
html {
  font-size: 16px;
}

body {
  background-color: var(--grey);
  color: var(--light-text);
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}

h4 {
  color: var(--black);
}

p, a, span, input, .footer-copyright {
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  font-size: 1rem;
}

a, i, span {
  color: var(--light-text);
}

.page-footer {
  background-color: var(--black);
  padding-top: 0;
}

.btn {
  color: var(--black);
}

.waves-effect input[type="submit"] {
  color: var(--black);
}

.error_message {
  color: var(--warning);
}

.teams:hover {
  background-color: #32E875;
}

.material-symbols-outlined:hover {
  font-weight: 800;
}

/* MOBILE TOP BAR */
#top-logo-bar {
    height: 100px;
    background-color: #1F1F1F;
    padding-bottom: 0.8rem;
}

.logo {
    width: 275px;
    height: 57px;
    margin-top: 10px;
}

/* MOBILE BOTTOM NAV BAR */
nav#nav-bar.bottom-nav {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: var(--black);
  }

  .nav-icons-container {
    position: relative;
  }

  .nav-icons-container > span {
    position: absolute;
  }

  .nav-icon1 {
    right: 70%;
  }

  .nav-icon2 {
    right: 50%;
  }

  .nav-icon3 {
    left: 60%;
    top: 10px;
  }

  /*INDEX.HTML*/
  .hero-img {
    margin-top: 2.19rem;
    filter: grayscale(100%);
    padding-bottom: 0;
  }

  .title-container {
    background-color: var(--grey);
    color: var(--light-text);
    max-width: 100%;
    height: 150px;
    margin: 0;
    padding-bottom: 0;
  }

  .cta-container {
    text-align: center;
    max-width: 80%;
  }

  #teams-btn.btn {
    background-color: var(--btn-green);
  }

  #register-btn.btn {
    background-color: var(--btn-green);
  }

  .register-container {
    max-width: 100%;
    margin: auto;
    padding-top: 1rem;;
    background-color: var(--light-bg);
    color: var(--black);
  }

  /*TEAMS.HTML*/
  .team-container {
    width: 252px;
    text-align: center;
    color: var(--black);
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .team-container > .card.medium {
    height: 15rem;
    width: 18rem;
    margin: auto;
    margin-bottom: 2.5rem;
  }

  .card-title, #more, #close, #fb, #tiktok, #insta {
    color: var(--black)
  }

  .card.medium > .card-content {
    height: 25px;
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .card.medium.rounded {
    border-radius: 10%;
  }

  .fa-brands:hover {
    font-weight: 700;
    font-size: 2.25rem;
  }

  /*REGISTER.HTML*/
  .form-container {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    color: var(--light-text);
  }

  .header-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .form-header {
    margin-top: 1.25rem;
    padding-top: 10px;
  }

  div > a[href="/register"] {
    color: var(--black);
  }

  form {
    padding: 0.93rem 0 3.13rem;
    max-width: 80%;
    margin: auto;
  }

  form#register-form > label {
    color: var(--light-text);
    font-weight: bold;
  }

form#register-form > .btn-container {
    text-align: center;
    margin-top: 0.63rem;
}

form#register-form > .btn-container > .btn {
    background-color: var(--btn-green);
    color: var(--black);
}

.flash-msg {
    color: var(--black);
    text-align: center;
}

/*SIGNIN.HTML*/
form#signin-form > label {
    color: var(--light-text);
    font-weight: bold;
}

form#signin-form > .btn-container {
    text-align: center;
    margin-top: 0.40rem;
}

form#signin-form > .btn-container > .btn {
    background-color: var(--btn-green);
    color: var(--black);
}

/*PROFILE.HTML*/
.form-container.profile {
    background-color: var(--grey);
    color: var(--light-text);
    padding-bottom: 1.56rem;
}

.form-container > .label {
  font-weight: bolder;
}

#profile-panel.card-panel {
  position: relative;
  color: var(--black);
}

#edit.material-symbols-outlined {
  position: absolute;
  font-size: 1.56rem;
  top: 0.5rem;
  right: 0.31rem;
  color: var(--black);
}

table, tr, td {
  border: none;
}

td {
  padding-bottom: 0;
}

td:first-child {
  font-weight: bolder;
}

.card-panel#profile-panel {
  width: 90%;
  margin: auto;
}

.card-panel > .btn-container{
  text-align: center;
  padding-top: 0.94rem;
}

.yes-btn {
  background-color: var(--btn-green)
}

.no-btn {
  background-color: var(--warning);
}

.form-header.club {
  margin-top: 0;
}

.container {
  padding-bottom: 2rem;
  width: 100%;
}

.container > .my-club {
  text-align: center;
}

.clubs-square {
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  border: 0.63rem;
  background-color: var(--square);
  opacity: 80%;
  border-radius: 10%;
}

.clubs-square, .club-team-squares:hover {
  background-color: var(--black);
}

.user_clubs_teams {
  margin: auto;
  color: var(--light-text);
  font-size: 1.88rem;
  text-align: center;
}

.user_clubs_teams:hover{
  color: #32E875
}

.delete {
  background-color: var(--warning);
  color: var(--black);
}

.delete:hover {
  background-color: var(--black);
  color: var(--warning);
}


/*CLUB_PAGE.HTML*/
div.container.team-container {
  text-align: center;
}

.club-team-squares {
  width: 12.5rem;
  height: 12.5rem;
  background-color: var(--square);
  border-radius: 10%;
  margin: auto;
  margin-top: 1.56rem;
}

.club-team-squares.add-team {
  margin-top: 1.56rem;
}

.add-team-text {
  color: var(--light-text);
}

#add-bg.btn-floating.btn-large {
  background-color: var(--btn-green);
  opacity: 70%;
  z-index: 1;
}

.center-button {
  padding: 3.44rem;
}

/*ADD_TEAMS.HTML*/
.select-wrapper+label {
  position:inherit;
}

.dropdown-trigger, input {
  color: var(--light-text);
}

/*TEAM_PROFILE.HTML*/
.social-container {
  text-align: center;
  margin-top: 0.94rem;
  padding: 20px 0 20px 0;
}

.social-container > span {
  margin: 0 1.25rem 0 1.25rem;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 1440px) {
  .hero-img.container {
    height: 600px;
  }

  img.responsive-img {
    height: 600px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /*PROFILE.HTML*/
  .card-panel#profile-panel {
    width: 70%;
  }

  .clubs-square {
    width: 300px;
    height: 300px;
  }

  .nav-icon3 {
    left: 65%;
    top: 2px;
  }
}

@media only screen and (min-width: 992px) {
  /*INDEX.HTML*/
  .hero-outer {
    position: relative;
  }

  .title-container {
    position: absolute;
    top: 2.19rem;
    z-index: 1;
    opacity: 65%;
  }

  /*PROFILE.HTML*/
  .card-panel#profile-panel {
    width: 50%;
  }
}