<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla&family=Merriweather+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/rugby-ball.png')}}" type="image/x-icon">
  <title>Scrum Sisters</title>
</head>

<body>
  <!--TOP LOGO BAR-->
  <nav class="navbar">
    <div class="valign-wrapper" id="top-logo-bar">
      <a href="{{ url_for('home') }}" class="brand-logo center"><img class="logo"
          src="{{ url_for('static', filename='images/ss-logo.png')}}" alt="ScrumSisters Logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('user_profile') }}">Profile</a></li>
          <li><a href="{{ url_for('user_signout') }}">Sign Out</a></li>
        {% else %}
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!--BOTTOM NAVIGATION BAR MOBILE & SMALL TABLET SCREENS-->
  <div>
    <nav class="bottom-nav hide-on-large-only" id="nav-bar">
      <div class="nav-wrapper">
        <div class="nav-icons-container">
          {% if current_user.is_authenticated %}
            <span class="nav-icon1"><a href="{{ url_for('user_profile') }}"><i class="material-symbols-outlined" id="user-icon">person</i></a></span>
            <span class="nav-icon2"><a href="{{ url_for('home') }}"><i class="material-symbols-outlined" id="home-icon">home</i></a></span>
            <span class="nav-icon3"><a><i class="material-symbols-outlined sidenav-trigger" id="menu-icon"
                  data-target="mobile-menu">menu</i></a></span>
          {% else %} 
            <span class="nav-icon1"><a href="{{ url_for('login') }}"><i class="material-symbols-outlined" id="user-icon">person</i></a></span>
            <span class="nav-icon2"><a href="{{ url_for('home') }}"><i class="material-symbols-outlined" id="home-icon">home</i></a></span>
            <span class="nav-icon3"><a><i class="material-symbols-outlined sidenav-trigger" id="menu-icon"
                  data-target="mobile-menu">menu</i></a></span>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Mobile Sidenav -->
    <ul id='mobile-menu' class='sidenav'>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('teams') }}">Teams</a></li>
      
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('user_profile') }}">Profile</a></li>
        <li><a href="{{ url_for('user_signout') }}">Sign Out</a></li>
      {% else %}
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Sign In</a></li>
      {% endif %}
    </ul>
  </div>
  {% block content %}
  {% endblock %}
  <footer class="page-footer" id="footer">
    <div class="footer-copyright">
      <div class="container center-align">
        <h5 class="white-text">Disclaimer</h5>
        <p>ScrumSisters was created for educational purposes and is not a real organisation</p>
        © Scrum Sisters <span id="span-year">2014</span>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/133d2b6a17.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>