{% extends "base.html" %}
{% block content %}
<!--Club Page-->
    <div class="form-container">
        <div class="header-container">
            <h1 class="form-header"> {{ current_user.clubs }} Teams</h1>
        </div>

    
        {% for team in current_user.teams %}
        <div class="container team-container">
            <div class="club_team_squares col s7 m2 valign-wrapper">
                <a href="{{ url_for('team_profile', team_club=team.id ) }}" class="user_clubs_teams">{{ team.team_name }}</a>
            </div>
        {% endfor %}
            <div class="add-team club_team_squares col s7 m2">
                <div class="center-button">
                    <a href="{{ url_for('add_team', user_club_id=current_user.club_id) }}" class="btn-floating btn-large center waves-effect" id="add-bg">
                        <i class="large material-symbols-outlined" id="add">add</i>
                    </a>
                    <p>Add Team</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}