{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <div class="header-container">
        <h1 class="form-header"> {{ current_user.clubs }}'s Teams</h1>
    </div>

    <div class="grid-container">
    {% for team in current_user.teams %}
        <div class="club_team_squares team1 valign-wrapper">
            <a href="{{ url_for('team_profile', team_club=team.id) }}" class="user_clubs_teams">{{ team }}</a>
        </div>
    {% endfor %}
        <div class="add-team">
            <a href="{{ url_for('add_team', user_club_id=current_user.club_id) }}" class="btn-floating btn-large" id="add-bg">
                <i class="large material-symbols-outlined" id="add">add</i>
            </a>
            <p>Add Team</p>
        </div>
    </div>
</div>



{% endblock %}