{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <div class="header-container">
        <h1 class="form-header"> {{ current_user.clubs }}'s Teams</h1>
    </div>

    <div class="grid-container">
        <div class="team1">
            <a href="#"></a>
        </div>
        <div class="team2">
            <a href="#"></a>
        </div>
        <div class="add-team">
            <a href="#" class="btn-floating btn-large" id="add-bg">
                <i class="large material-symbols-outlined" id="add">add</i>
            </a>
        </div>
    </div>
</div>



{% endblock %}