{% extends "base.html" %}
{% block content %}
    <div class="hero-outer">
        <div class="container title-container center-align">
        <h3 class="title">Ignite Your Rugby Passion!</h3>
        <p class="title">Empowering Women and Girls of South Wales</p>
        </div>
        <img class="responsive-img hero-img" src="{{ url_for('static', filename='images/scrum-lscape.jpg')}}">
    </div>
    
    

    <div class="container cta-container">
        <p class="cta">Find Teams Near You</p>
        <a href="{{ url_for('teams') }}" class="btn modal-trigger" id="teams-btn">View Teams</a>
    </div>
{% endblock %}