{% extends "base.html" %}
{% block content %}
<div class="form-container profile">
    <div class="header-container">
        <h1 class="form-header"> {{ current_user.first_name }}'s Profile</h1>
    </div>
    <div class="container">
        <div class="card-panel" id="profile-panel">
            <a href="{{ url_for('edit_user_profile', user_id=current_user.id) }}">
                <i class="small material-symbols-outlined tooltipped" data-position="left" data-tooltip="Edit Profile" id="edit">edit</i>
            </a>
            <table>
                <tr>
                    <td>First Name:</td>
                    <td>{{ current_user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>{{ current_user.last_name }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ current_user.email }}</td>
                </tr>
            </table>
            <div class="btn-container">
                <a class="btn" id="delete-acc">Delete Account</a>
            </div>
        </div>
    </div>
</div>


<div class="form-container">
    <div class="header-container">
        <h2 class="form-header club"> My Club</h2>
    </div>
    <div class="container">
        <div class="clubs-square valign-wrapper">
            <a class="user_club">{{ current_user.clubs }}</a>
        </div>
    </div>
</div>



{% endblock %}