{% extends "base.html" %}
{% block content %}
<div class="form-container profile">
    <div class="header-container">
        <h1 class="form-header"> {{ current_user.first_name }}'s Profile</h1>
    </div>
    <div class="container">
    <div class="card-panel">
        <table>
            <tr>
                <td>First Name:</td>
                <td>{{ current_user.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ current_user.last_name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ current_user.email }}</td>
            </tr>
        </table>
        <div class="btn-container">
            <a class="waves-effect waves-light btn">Delete Account</a>
        </div>
    </div>
</div>

</div>

<div>
    <div class="header-container">
        <h2 class="form-header"> My Club</h2>
    </div>
</div>



{% endblock %}